@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');

*,
*::after,
*::before{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button{
	border: none;
	padding: 0;
	background-color: transparent;
}
a{
	text-decoration: none;
	color: inherit;
}
ul{
	list-style: none;
}
body{
	color:#151618;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
	// font-family: 'Cormorant', serif;
	font-family: 'Open Sans', sans-serif;
}